autoware.ai.openplanner
carla-autoware/docker
carla-autoware/autoware_data/maps/Town01.pcd
carla-autoware/autoware_data/maps/Town02.pcd
carla-autoware/autoware_data/maps/Town03.pcd
carla-autoware/autoware_data/maps/Town04.pcd
carla-autoware/autoware_data/maps/Town05.pcd
carla-autoware/autoware_data/maps/Town06.pcd
carla-autoware/autoware_data/maps/Town07.pcd
carla-autoware/autoware_data/maps/Town10HD.pcd

carla-autoware/catkin_ws/build
carla-autoware/catkin_ws/devel

carla-autoware.zip

carla-autoware/autoware_launch.zip
carla-autoware/catkin_ws.zip
carla-autoware/docs

carla-autoware/autoware_data